@import "variables";

.btn-pocion {
  background-color: #544049;
  color: $btn-font-color;
  font-size: 2rem;
}

.btn-ingredientes {
  background-color: #926b80;
  color: $btn-font-color;
  font-size: 2rem;
}

.btn-home {
  background-color: #f37f36;
  color: $btn-font-color;
  font-size: 2rem;
}
