
.btnPocion {
  @include btnPocion;
}

.btnIngredientes {
  @include btnIngredientes;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.btnHome {
  @include btnHome;
}

body {
  margin: 20px;
  font-family: $body-font;
}

li {
  list-style: none;
}

.background {
  @include backgroundHeader;
  background-image: url("../img/background2.jpg");
  background-position: center;
}

.backgroundPociones {
  background-image: url("../img/background5.jpg");
  background-position: center;

  @include backgroundHeader;
}

.backgroundIngredientes {
  background-image: url("../img/ingredientes.jpg");

  @include backgroundHeader;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

h1 {
  @include title;
}

.recipe-name {
  @include recipe-name;
}

.recipe-img {
  @include recipe-img;
}

section {
  padding-top: 10px;
}

.recipe-instruction {
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.quiz {
  @include quiz;
}

#quiz1 {
  .quiz1 {
    display: none;
  }
}

.question {
  @include question-display;
}

.numbers-of-questions {
  font-family: $title-font;
}

.animation-questions {
  @include animation-questions;
}

#div1 {animation-timing-function: linear; animation: mymove 5s ease-in-out;}
#div2 {animation-timing-function: ease;  animation: mymove 5s ease-in-out;}
#div3 {animation-timing-function: ease-in;  animation: mymove 5s ease-in-out;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}

.month-ritual {
  @include month-ritual;
}