
.btnPocion {
  @include btnPocion;
}

.btnIngredientes {
  @include btnIngredientes;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.btnHome {
  @include btnHome;
}

body {
  margin: 20px;
  font-family: $body-font;
}

li {
  list-style: none;
}

.background {
  @include backgroundHeader;

  background-image: url("../img/background2.jpg");
  background-position: center;
}

.backgroundPociones {
  background-image: url("../img/background5.jpg");
  background-position: center;

  @include backgroundHeader;
}

.backgroundIngredientes {
  background-image: url("../img/ingredientes.jpg");

  @include backgroundHeader;
}

h1 {
  @include title;
}

.recipe-name {
  @include recipe-name;
}

.recipe-img{
  @include recipe-img;
}

.recipe-instruction {
  @include recipe-instruction;

  img {
    width: 100%;
  }
}

.quiz {
  @include quiz;

  color: #926b80;

  h2 {
    font-family: $title-font;
    font-size: 3rem;
  }
}

#quiz1 {
  .quiz1 {
    display: none;

    p {
      font-size: 2rem;
    }
  }
}

.question {
  @include question-display;
}

.numbers-of-questions {
  font-family: $title-font;
}

.animation-questions {
  @include animation-questions;
}

.month-ritual {
  @include month-ritual;
}

.one-recipe {
  @include one-recipe;
}
