@import "variables";

@mixin title {
  font-size: 6rem;
  font-family: $title-font;
  color: $title-color;
  text-align: center;
}

@mixin backgroundHeader {
  padding: 0;
  margin: 0;
  color: #fefff8;
  font-size: 4rem;
  text-align: center;
  font-family: $title-font;
  background-size: 100%;
}

@mixin recipe-name {
  text-align: center;
  margin: 15px;
}

@mixin recipe-img {
  display: block;
  max-width: 100%;
}

@mixin quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

@mixin month-ritual {
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  color: #f37f36;

  h2 {
    font-family: $title-font;
    font-size: 4rem;
  }
}

@mixin one-recipe {
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #060606;
}

@mixin question-display {
  font-size: 2rem;
  font-weight: bold;
}

@mixin animation-questions {
  font-weight: bold;
}

@mixin recipe-instruction {
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

@mixin bounce_keyframe {
  @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    80% { transform: translateY(-15px); }
  }
}

@mixin bounce_animation {
  position: relative;
  animation: bounce 0.7s ease infinite;
}

@mixin box-transparent-noir {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.404);
  color: #ffff;
  border: #ffff solid 5px;
  font-size: 2rem;
}

@mixin background {
  padding: 0;
  margin: 0;
  color: #fefff8;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
