@import "variables";

@mixin title {
  font-size: 6rem;
  font-family: $title-font;
  color: $title-color;
  text-align: center;
}

@mixin backgroundHeader {
  height: 400px;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fefff8;
  font-size: 4rem;
  text-align: center;
  font-family: $title-font;
}

@mixin recipeName {
  text-align: center;
  margin: 15px;
}

@mixin recipeImg {
  display: flex;
  justify-content: center;
}

@mixin quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #dbcdde;
}
