@import "variables";

@mixin title {
  font-size: 6rem;
  font-family: $title-font;
  color: $title-color;
  text-align: center;
}

@mixin backgroundHeader {
  height: 400px;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fefff8;
  font-size: 4rem;
  text-align: center;
  font-family: $title-font;
}

@mixin recipe-name {
  text-align: center;
  margin: 15px;
}

@mixin recipe-img {
  display: block;
  max-width: 100%;
}

@mixin quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

@mixin month-ritual {
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  color: #f37f36;

  h2 {
    font-family: $title-font;
    font-size: 4rem;
  }
}

@mixin one-recipe {
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  color: #060606;
}

@mixin question-display {
  font-size: 2rem;
  font-weight: bold;
}

@mixin animation-questions {
  font-weight: bold;
}

@mixin recipe-instruction {
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
