$title-font: "Jolly Lodger", cursive;
$body-font: "Cookie", cursive;

//color font
$title-color: #0a0702;
$btn-font-color: #fefbe8;

//background
$background-main : url("../img/background2.jpg");
$background-recipes: url("../img/background5.jpg");
$background-ingredients: url("../img/hojas.jpg");
