<div class="background-header my-5 py-5">
    <h2 class=" pt-5 my-5">Bienvenida</h2> 
    <p class="p-5">
        Un grimorio es un libro de conocimiento o cuadernillo con fórmulas mágicas para lanzar hechizos y encantamientos. Es decir, un libro de recetas o recetario.
        Aquí se explican en detalles, los pasos a seguir, para mezclar pociones, menjurjes, medicinas y también se mencionan los diferentes ingredientes y sus cantidades a utilizar en cada prescripción exigida.
        El grimorio moderno constituye un manual de recetas de una gran variedad de postres, donde la chef hechicera, lleva apuntadas sus diferentes formulas mágicas y sus hechizos.
        También en el se encuentran camuflageados algunos ingredientes secretos como el  <i class="fas fa-heart"></i>
        amor y algunos trucos destellantes y mágicos como la <i class="fas fa-cookie-bite"></i> dulzura. <br>
        A través del tiempo, cada bruja va perfeccionando sus técnicas, cambia ingredientes y prueba con otros,
        para poder encantar los paladares de sus comezales y va anotando sin perder ningún detalle en su cuadernillo. <br>
        Ese es el grimorio moderno
    </p>
</div>