<div class="container">
    <p>Cual es tu ingrediente favorito?</p>
    <form>
    <input type="radio" id="1" name="ingredient" >
    <label for="fresa">fresa</label><br>
    <input type="radio" id="2" name="ingredient" >
    <label for="chocolate">chocolate</label><br>
    <input type="radio" id="3" name="ingredient" >
    <label for="fresa">fresa</label>
    </form> 
</div>
