<div class="container ">
    <form action="/quiz" method="post">
        <div>
            <p>Cual es tu ingrediente favorito?</p>
            <label for="pasas"><input type="radio" id="pasas" value="3" name="q1" >Pasas</label><br>
            <label for="chocolate"><input type="radio" id="chocolate" value="1" name="q1" >Chocolate</label><br>
            <label for="vainilla"><input type="radio" id="vainilla" value="2" name="q1" >Vainilla</label>
        </div>
        <div>
            <p>Que momento prefieres?</p>
            <label for="atardecer"><input type="radio" id="atardecer" value="1" name="q2" >Atardecer</label><br>
            <label for="Noche"><input type="radio" id="Noche" value="3" name="q2" >Noche de luna llena</label><br>
            <label for="dia"><input type="radio" id="dia" value="2" name="q2" >Dia soleado</label>
        </div>
           <div>
            <p>Que hora prefieres?</p>
            <label for="3pm"><input type="radio" id="3pm" value="1" name="q3" >3pm</label><br>
            <label for="10pm"><input type="radio"  id="10pm" value="3" name="q3" >10pm</label><br>
            <label for="8am"><input type="radio" id="8am"  value="2" name="q3" >8am</label>
        </div>
           <div>
            <p>Que estacion prefieres?</p>

            <label for="primavera"><input type="radio" id="primavera" value="1" name="q4" >primavera</label><br>
            <label for="verano"><input type="radio"  id="verano" value="3" name="q4" >verano</label><br>
            <label for="otoño"><input type="radio" id="otoño"  value="2" name="q4" >otoño</label>
        </div>
           <div>
            <p>Que animal prefieres?</p>
            <label for="gato"><input type="radio" id="gato" value="1" name="q5" >gato</label><br>
            <label for="conejo"><input type="radio"  id="conejo" value="3" name="q5" >conejo</label><br> 
            <label for="araña"><input type="radio" id="araña" value="2" name="q5" >araña</label><br>   
            <input type="submit" value="Enviar">
        </div>
    </form> 
</div>
