<ul class="dropdown-menu">
            <li><a href="/pociones">Pociones</a></li>
            <li><a href="/ingredientes">Ingredientes</a></li>
            <li><a href="/pociones">el tercero</a></li>
            <li><a href="/pociones">el otro problema</a></li>   
</ul>