<ul class="nav nav-tabs menu">
    <li class="nav-item">
        <a class="nav-link {{#if (isEqual 'Home' title) }}disabled{{/if}} btn-home" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if (isEqual 'Ingredientes' title) }}disabled{{/if}} btn-ingredientes" href="/ingredientes">Ingredientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if (isEqual 'Pociones' title) }}disabled{{/if}} btn-pocion" href="/recipes">Pociones</a>
    </li>
</ul>

