<div class="container">
    {{#each recipes}}
        <div class="row">
            <div class="recipe-instruction col-lg-6 offset-lg-3 mt-4"> 
                <a href="/recipes/{{this.id}}/show">
                <img src="{{this.image}}" alt="cupcakes" class="recipe-img">
                <h3 class="recipe-name">{{this.name}}</h3>
                </a>
            </div>
        </div>   
    {{/each}}
</div>