<section class="recipeList">
    {{#each recipes}}
 
    <a href="/recipes/{{this.id}}/show"> lalal</a>
        <div  class="container recipeInstruction">
            <h3 class="recipeName">{{this.name}}</h3>
            <div class="recipeImg"> 
                <a href="/recipes/{{this.id}}/show">
                 <img src="{{this.image}}" alt="cupcakes" class="img-responsive">
                </a>
            </div>
        </div>   
    {{/each}}
</section>