<section class="recipeList">
    {{#each recipes}}
        <div  class="container recipe-instruction">
            <div class="recipe-img"> 
                <a href="/recipes/{{this.id}}/show">
                <img src="{{this.image}}" alt="cupcakes" class="img-responsive recipe-img">
                <h3 class="recipe-name">{{this.name}}</h3>
                </a>
            </div>
        </div>   
    {{/each}}
</section>