
<section class="background-ingredientes">
    <h1><a href="/">El Grimorio Moderno</a></h1>
    <div>{{>menu}}</div> 
    <div class="container background-header my-5 py-5"> 
        <h2>Ingredientes</h2>
        <p>
            Son todos los conjuros, hechizos, encantamientos y componentes mágicos, 
            que utiliza la bruja pastelera del Grimorio moderno, para preparar sus apetitosas y maravillosas recetas.
         </p>
    </div>
    <div>
        <h2>Frutas</h2>
        <p>
            <h3>La Miel</h3> 
            Es una medicina natural, que tiene el poder de dar muy buenas energías y vibras.
            Se recomiendan los baños de miel con hojas de menta, 
            porque como un iman atraerá la buena suerte y si unimos la miel con  la canela, nos deparará la llegada a nuestra vida, de seres especiales e inclusive el "amor".
            Es por eso, que en muchos de nuestros postres no puede faltar la miel, como ingrediente secreto.
        </p>
        <p>
            <h3>El Chocolate</h3>
            Despierta emociones, aumenta la energía, alegra el corazón, atrae el amor, 
            el romance y la pasión. Una torta de chocolate oscura bañada con chocolate blanca, aumenta divinamente, las pulsaciones de un corazón enamorado.
        </p>
        <p>
            <h3>La Naranja</h3>
            Atrae la buena suerte y la buena fortuna. Elaborar bolsitas con cáscaras secas de naranjas, ayuda a afianzar la felicidad en los matrimonios.
            Mágicamente aquellos postre en que se utilizan para sus hechizos la naranja, el paladar que lo deleita se siente afortunado.
        </p>
    </div>

    <ul>
        {{#each ingredients}}
        <li>{{this.name}} {{this.description}}</li>
        {{/each}}
    </ul>

</section>
