
<h1><a href="/">El Grimorio Moderno</a></h1>
<div>{{>menu}}</div> 
<div class="container-fluid backgroundIngredientes"> Ingredientes </div>

<ul>
    {{#each ingredients}}
    <li>{{this.name}} {{this.description}}</li>
    {{/each}}
</ul>