
<h1> {{ingredientes}}</h1>
<div>
    <a href="/" class="btn btn-primary">home</a>
    <a href="/pociones" class="btn btn-success">pociones</a>
</div>

<ul>
    {{#each ingredients}}
    <li>{{this.name}} {{this.description}}</li>
    {{/each}}
</ul>