
<h1> Ingredientes</h1>
<ul class="nav nav-tabs menu">
    <li class="nav-item">
        <a class="nav-link  btnHome" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled btnIngredientes" href="/ingredientes">Ingredientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btnPocion" href="/recipes">Pociones</a>
    </li>
</ul>
<div class="container-fluid backgroundIngredientes"> Ingredientes </div>

<ul>
    {{#each ingredients}}
    <li>{{this.name}} {{this.description}}</li>
    {{/each}}
</ul>