
<section class="background-ingredientes">
    <h1><a href="/">El Grimorio Moderno</a></h1>
    <div>{{>menu}}</div> 
    <div class="container background-header my-5 py-5"> 
        <h2>Ingredientes</h2>
    </div>

    <ul>
        {{#each ingredients}}
        <li>{{this.name}} {{this.description}}</li>
        {{/each}}
    </ul>

</section>
