<section class="container-fluid main">
    <h1><a href="/">El Grimorio Moderno</a></h1>
    <div>
        {{>menu}}
    </div> 
    <div class="container-fluid">
        {{>background}}
    </div>
    <div class="container">
        <div class="row"> 
            <div class="quiz col-md-6 offset-md-3 my-5">
                <h2>Que pocion necesitas hoy?</h2>
                <p>
                    Antes de darte un paseo por el mágico y encantado espacio del Grimorio moderno y si deseas descubir que pocion te sugiere la 
                    bruja hechicera para el dia de hoy, te proponemos que comiences con este corto y sencillo quiz
                </p>
                {{>form}} 
            </div>
        </div>
        <div class="row">
            <div class="month-ritual col-md-6 offset-md-3 mt-4">    
                {{>ritual}} 
            </div>
        </div>
        <div>
            {{>footer}}
        </div>
    </div>
</section>



