 <h1 >{{title}}</h1>      
    <a href="/pociones" class="btn btn-primary" id="btnPocion">Pociones</a>
    <a href="/ingredientes " class="btn btn-success" id="btnIngredientes" >ingredientes </a>


    <div> {{>background}}</div>

        <div class="container">

        <div class="dropdown"> 
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" >el testador</button>
           {{> lista}}
        </div>
    </div>