 <h1>{{title}}</h1>      
    <a href="/pociones" class="btn btn-primary">Pociones</a>
    <a href="/ingredientes " class="btn btn-success">ingredientes </a>
    <div class="container">
        <button type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-search"></span> elbut </button>


        <div class="dropdown"> 
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" >el testador</button>
           {{> lista}}
        </div>
    </div>

    <div> {{>background}}</div>