<h1>El Grimorio Moderno </h1>
<div>{{>menu}}</div> 
<div class="container-fluid background"> {{>background}}</div>
<div class="container">
    <div class="dropdown"> 
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" >el testador</button>
        {{> lista}}
    </div>
</div>
<div class="quiz">
    <h2>Que pocion necesitas hoy?</h2>
    <p> responde las preguntas y conseguiras la pocion que se adapta a ti en este momento</p>
    {{>form}} 
</div>
<div class="month-ritual">    {{>ritual}}  </div>




