
<h1> El Grimorio Moderno </h1>
<ul class="nav nav-tabs menu">
    <li class="nav-item">
        <a class="nav-link {{#if (isEqual 'Home' title) }}disabled{{/if}} btnHome" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if (isEqual 'Ingredientes' title) }}disabled{{/if}} btnIngredientes" href="/ingredientes">Ingredientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if (isEqual 'Pociones' title) }}disabled{{/if}} btnPocion" href="#">Pociones</a>
    </li>
</ul>
<div class="container-fluid backgroundPociones"> {{title}} </div>
<div> {{>recipeList}}</div>