
<section class="background-recipes">
    <h1><a href="/">El Grimorio Moderno</a></h1>
    <div>{{>menu}}</div> 
    <div class="container background-header my-5 py-5"> 
        <h2>{{title}}</h2>    
    </div>
    <div> {{>recipeList}}</div> 

</section>
